<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="well">
        <p th:text="${communityObj.about}">Blah blah</p>
    </div>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
