<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">

    <div th:replace="include-menubar :: menu"/>

        <div class="page-header">
            <h1 th:text="'Add Payment for ' + ${subscription.firstName} + ' ' + ${subscription.lastName}">Add Payment for Jane Doe</h1>
        </div>

        <form role="form" th:action="@{/subscription/submitPayment}" th:object="${subscription}" method="post">

            <div th:each="err : ${#fields.detailedErrors()}" class="alert alert-danger" role="alert"
                 th:text="${err.fieldName + ': ' + err.message}">Input is incorrect
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div th:class="${#fields.hasErrors('paidDate')} ? 'form-group has-error' : 'form-group'">
                        <label th:for="*{paidDate}">Paid Date</label>
                        <input id="paidDate" type="text" class="form-control pickadate" th:field="*{paidDate}" placeholder="Paid Date" tabindex="4"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div th:class="${#fields.hasErrors('paidAmount')} ? 'form-group has-error' : 'form-group'">
                        <label th:for="*{paidAmount}">Paid Amount</label>
                        <input type="text" class="form-control" th:field="*{paidAmount}" placeholder="Paid Amount" tabindex="3" readonly="true"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label th:for="*{frequency}">Frequency</label>
                        <select id="frequency" class="form-control" th:field="*{frequency}" tabindex="6" readonly="true">
                            <option th:each="freq : ${frequencyTypes}" th:value="${freq}" th:text="${freq.getDescription()}">Annual
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label th:for="*{status}">Status</label>
                        <select id="statusField" class="form-control" th:field="*{status}" tabindex="5" readonly="true">
                            <option th:each="status : ${statusTypes}" th:value="${status}" th:text="${status.getDescription()}">Current</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label th:for="*{dueAmount}">Due Amount</label>
                        <input type="text" class="form-control" th:field="*{dueAmount}" placeholder="Due Amount" tabindex="1" readonly="true"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label th:for="*{dueDate}">Due Date</label>
                        <input id="dueDate" type="text" class="form-control" th:field="*{dueDate}" placeholder="Due Date" tabindex="2" readonly="true"/>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <input type="hidden" th:field="*{idNumber}"/>
            <input type="hidden" th:field="*{originalDueDate}"/>
            <input type="hidden" th:field="*{subscriptionType}"/>
            <input type="hidden" th:field="*{number}"/>
            <input type="hidden" th:field="*{paymentMethod}"/>
            <input type="hidden" th:field="*{memberId}"/>
            <button type="submit" class="btn btn-default" tabindex="11">Save</button>
            <button id="cancelEditButton" type="reset" class="btn btn-default" tabindex="12">Cancel</button>
        </form>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>

<footer th:include="include-foot :: footer"/>
</body>
</html>
