<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">

    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1>Edit Member</h1>
    </div>

    <form role="form" th:action="@{/member/submit}" th:object="${member}" method="post">

        <div th:each="err : ${#fields.detailedErrors()}" class="alert alert-danger" role="alert"
             th:text="${err.fieldName + ': ' + err.message}">Input is incorrect
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label th:for="${salutation}">Salutation</label>
                    <select class="form-control" th:field="*{salutation}" tabindex="1">
                        <option value="">Select...</option>
                        <option th:each="sal : ${salutations}" th:value="${sal}" th:text="${sal.getDescription()}">Mr
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('firstName')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${firstName}">First Name</label>
                    <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"
                           tabindex="2"/>
                </div>
            </div>
            <div class="col-md-1">
                <div th:class="${#fields.hasErrors('initials')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${initials}">Initials</label>
                    <input type="text" class="form-control" th:field="*{initials}" placeholder="Initials" tabindex="3"/>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('address1')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${address1}">Address 1</label>
                    <input type="text" class="form-control" th:field="*{address1}" placeholder="Address 1"
                           tabindex="8"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="${address2}">Address 2</label>
                    <input type="text" class="form-control" th:field="*{address2}" placeholder="Address 2"
                           tabindex="9"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div th:class="${#fields.hasErrors('lastName')}  ? 'form-group has-error' : 'form-group'">
                    <label th:for="${lastName}">Last Name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"
                           tabindex="4"/>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label th:for="${gender}">Gender</label>
                    <select class="form-control" th:field="*{gender}" tabindex="5">
                        <option value="">Select...</option>
                        <option th:each="gen : ${genders}" th:value="${gen}" th:text="${gen.getDescription()}">M
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="${address3}">Address 3</label>
                    <input type="text" class="form-control" th:field="*{address3}" placeholder="Address 3"
                           tabindex="10"/>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('townCity')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${townCity}">Town / City</label>
                    <input type="text" class="form-control" th:field="*{townCity}" placeholder="Town / City"
                           tabindex="11"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('telephoneNo')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${telephoneNo}">Telephone</label>
                    <input type="text" class="form-control" th:field="*{telephoneNo}" placeholder="Telephone No"
                           tabindex="6"/>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${emailAddress}">Email</label>
                    <input type="text" class="form-control" th:field="*{emailAddress}" placeholder="Email Address"
                           tabindex="7"/>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div th:class="${#fields.hasErrors('county')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${county}">County / State</label>
                    <input type="text" class="form-control" th:field="*{county}" placeholder="County / State"
                           tabindex="12"/>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('postCode')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${postCode}">Postcode / Zip</label>
                    <input type="text" class="form-control" th:field="*{postCode}" placeholder="Postcode Zip"
                           tabindex="13"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="${commPrefs}">Communication Preferences</label>
                    <select class="form-control" th:field="*{commPrefs}" tabindex="8">
                        <option value="">Select...</option>
                        <option th:each="pref : ${commPrefsTypes}" th:value="${pref}"
                                th:text="${pref.getDescription()}">M
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6"></div>
        </div>

        <input type="hidden" th:field="*{idNumber}"/>
        <button type="submit" class="btn btn-default" tabindex="14">Save</button>
        <button id="cancelEditButton" type="reset" class="btn btn-default" tabindex="15">Cancel</button>
    </form>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
