<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <p>Copyright &#169; 2018 Bug Or Feature. All rights reserved</p>
    <p>
        <strong>Environment:</strong> <span th:text="${@applicationInfo.getEnvironmentName()}">PROD</span> |
        <strong>Server:</strong> <span th:text="${@applicationInfo.getHostName()}">AwkwardCustomer</span> |
        <strong>Version: </strong><span th:text="${@applicationInfo.getVersionNo()}">1.0.2</span>
    </p>
</footer>

</html>

