<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subman-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Subman</a>
        </div>
        <div class="collapse navbar-collapse" id="subman-navbar">
            <ul class="nav navbar-nav">
                <li th:if="${#authentication != null and #authentication.name != 'anonymousUser'}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${session.communityName}">Community</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{'/member/new'}">New member</a></li>
                        <li><a th:href="@{'/community/listMembers'}">List members</a></li>
                        <li class="divider"/>
                        <li><a th:href="@{'/community/stats'}">Statistics</a></li>
                        <li><a th:href="@{'/community/about'}">About</a></li>
                        <li><a th:href="@{'/community/contact'}">Contact</a></li>
                        <li class="divider"/>
                        <li><a th:href="@{'/community/import'}">Import members</a></li>
                        <li class="divider"/>
                        <li th:if="${session.canSwitch}"><a href="/community/list">Choose another</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authentication != null and #authentication.name == 'anonymousUser'}"><a href="/login">Log in</a></li>
                <li th:if="${#authentication != null and #authentication.name != 'anonymousUser'}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="'ID: ' + ${#authentication.name}">Jimmy<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="#">Action</a></li>
                        <li class="divider"></li>-->
                        <li><a href="javascript:doLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div th:fragment="form-logout" id="logout-form-container">
    <form id="logout-form" name="form" th:action="@{/logout}" action="/logout" method="POST">
        <input type="submit" value="Log out"/>
    </form>
</div>

</body>
</html>
