<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="include-menubar :: menu"/>

    <div th:if="${#httpServletRequest.getAttribute('message')}" class="alert alert-success" role="alert"
         th:text="${#httpServletRequest.getAttribute('message')}">Successfully blah</div>

    <div th:if="${#httpServletRequest.getAttribute('warning')}" class="alert alert-warning" role="alert"
         th:text="${#httpServletRequest.getAttribute('warning')}">Warning blah</div>

    <div class="page-header">
        <h1>Members</h1>
    </div>

    <table id="members" class="display">
        <thead>
        <tr>
            <th>First name</th>
            <th>Surname</th>
            <th>Payment type</th>
            <th>Frequency</th>
            <th>Due amount</th>
            <th>Due date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
    </table>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
