<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">

    <div th:replace="include-menubar :: menu"/>


    <div class="page-header">
        <h1>New Member</h1>
    </div>

    <form role="form" th:action="@{/member/new}" th:object="${newForm}" method="post">

        <div th:each="err : ${#fields.detailedErrors()}" class="alert alert-danger" role="alert"
             th:text="${err.fieldName + ': ' + err.message}">Input is incorrect
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <!--<label th:for="${member.salutation}">Salutation</label>-->
                    <select class="form-control" th:field="*{member.salutation}" tabindex="1">
                        <option th:each="sal : ${salutations}" th:value="${sal}" th:text="${sal.getDescription()}">Mr
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('member.firstName')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.firstName}">First Name</label>
                    <input type="text" class="form-control" th:field="*{member.firstName}" placeholder="First Name"
                           tabindex="2"/>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('member.initials')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.initials}">Initials</label>
                    <input type="text" class="form-control" th:field="*{member.initials}" placeholder="Initials"
                           tabindex="3"/>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('lastName')}  ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.lastName}">Last Name</label>
                    <input type="text" class="form-control" th:field="*{member.lastName}" placeholder="Last Name"
                           tabindex="4"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label th:for="${member.gender}">Gender</label>
                    <select class="form-control" th:field="*{member.gender}" tabindex="5">
                        <option th:each="gen : ${genders}" th:value="${gen}" th:text="${gen.getDescription()}">M
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('address1')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.address1}">Address 1</label>
                    <input type="text" class="form-control" th:field="*{member.address1}" placeholder="Address 1"
                           tabindex="8"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label th:for="${member.address2}">Address 2</label>
                    <input type="text" class="form-control" th:field="*{member.address2}" placeholder="Address 2"
                           tabindex="9"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label th:for="${member.address3}">Address 3</label>
                    <input type="text" class="form-control" th:field="*{member.address3}" placeholder="Address 3"
                           tabindex="10"/>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('townCity')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.townCity}">Town / City</label>
                    <input type="text" class="form-control" th:field="*{member.townCity}" placeholder="Town / City"
                           tabindex="11"/>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('county')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.county}">County / State</label>
                    <input type="text" class="form-control" th:field="*{member.county}" placeholder="County / State"
                           tabindex="12"/>
                </div>
            </div>
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('postCode')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.postCode}">Postcode / Zip</label>
                    <input type="text" class="form-control" th:field="*{member.postCode}" placeholder="Postcode Zip"
                           tabindex="13"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('telephoneNo')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.telephoneNo}">Telephone</label>
                    <input type="text" class="form-control" th:field="*{member.telephoneNo}" placeholder="Telephone No"
                           tabindex="6"/>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.emailAddress}">Email</label>
                    <input type="text" class="form-control" th:field="*{member.emailAddress}"
                           placeholder="Email Address" tabindex="7"/>
                </div>
            </div>
            <div class="col-md-6">
                <div th:class="${#fields.hasErrors('customField_1')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="${member.customField_1}">Ward</label>
                    <select class="form-control" th:field="*{member.customField_1}" tabindex="5">
                        <option th:each="ward : ${wards}" th:value="${ward}" th:text="${ward.getDescription()}">M
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default" tabindex="14">Save</button>
        <button id="cancelEditButton" type="reset" class="btn btn-default" tabindex="15">Cancel</button>
    </form>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
