<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">

    <div th:replace="include-menubar :: menu"/>

        <div class="page-header">
            <h1>Membership Statistics</h1>
        </div>

        <div class="row">
            <div class="col-md-4">
                <table class="table table-condensed table-hover table-bordered display">
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                    <tr th:each="entry : ${status}">
                        <td th:text="${entry[value]}">Current</td>
                        <td th:text="${entry[count]}">303</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-condensed table-hover table-bordered display">
                    <tr>
                        <th>Payment Type</th>
                        <th>Count</th>
                    </tr>
                    <tr th:each="entry : ${payment}">
                        <td th:text="${entry[value]}">Current</td>
                        <td th:text="${entry[count]}">303</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-condensed table-hover table-bordered display">
                    <tr>
                        <th>Payment Frequency</th>
                        <th>Count</th>
                    </tr>
                    <tr th:each="entry : ${frequency}">
                        <td th:text="${entry[value]}">Current</td>
                        <td th:text="${entry[count]}">303</td>
                    </tr>
                </table>
            </div>
        </div>

    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
